#sqlparse==0.1.13
-e git://github.com/Yelp/sqlparse.git@a29c8c1fb827863c6b57d8811ed3b69e982a3877#egg=sqlparse
MarkupSafe==0.23
docker-py==1.3.1
MySQL-python==1.2.5
PasteDeploy==1.5.2
PyMySQL==0.7.3
PyStaticConfiguration==0.9.0
PyYAML==3.11
SQLAlchemy==0.9.8
WebOb==1.4
argparse==1.4.0
boto==2.38.0
cached-property==1.3.0
colander==0.9.9
contextdecorator==0.10.0
contextlib2==0.5.1
dateglob==0.1
enum34==1.0.4
future==0.14.3
geogrid==1.0.8
hashing-lib==0.1.2
html2text==2015.4.14
ipaddress==1.0.6
iso8601==0.1.10
jsonschema==2.4.0
kafka-python==0.9.4.post2
kazoo==2.2
lxml==3.4.1
mysqlclient==1.3.6
plop==0.3.0
ply==3.4
pycrypto==2.6.1
pyramid-exclog==0.7
pyramid-mako==1.0.2
pyramid-swagger==1.1.0
pyramid-uwsgi-metrics==0.3.1
pyramid-yelp-conn==0.4.0
pyramid-zipkin==0.11.1
pyramid==1.5.2
pysubnettree==0.23
pytz==2014.9
replication-delay-client==1.1.1
repoze.lru==0.6
retrying==1.3.3
setproctitle==1.1.8
simplejson==3.6.5
six==1.9
subprocess32==3.2.6
thriftpy==0.1.15
tornado==2.4.1
translationstring==1.3
treap==1.23.1
uWSGI==2.0.8
uwsgi-metrics==1.1.4
venusian==1.0
avro==1.9.0-yelp3
yelp-avro==0.1.9
yelp-bytes==0.3.0
yelp-cgeom==1.3.1
yelp-cheetah==0.13.1
yelp-clog==1.4.2
yelp-conn==6.0.0
yelp-crypto==1.2.0
yelp-email==1.2.1
yelp-encodings==0.1.3
yelp-ips==0.1.1
yelp-kafka==4.5.5
yelp-lib==9.1.0
yelp-logging==1.7.3
yelp-main-internalapi-clientlib==5.9.0
yelp-markupsafe==0.0.1
yelp-meteorite==1.0.0
yelp-profiling==3.0.0
yelp-pyramid==0.15.1
yelp-servlib==4.2.2
zope.deprecation==4.1.1
zope.interface==4.1.1
