Babel==1.3-yelp0
Jinja2==2.7.3
Mako==1.0.1
MarkupSafe==0.23
MySQL-python==1.2.5
PasteDeploy==1.5.2
PyStaticConfiguration==0.9.0
PyYAML==3.11
Pygments==2.0.2
SQLAlchemy==0.9.8
Sphinx==1.3.1
WebOb==1.4
alabaster==0.7.3
argparse==1.3.0
aspy.yaml==0.2.0
avro==1.7.7
backports.ssl-match-hostname==3.4.0.2
cached-property==1.2.0
colander==0.9.9
coverage==4.0
docker-compose==1.4.0rc3
docker-py==1.4.0-pre-1
dockerpty==0.3.4
docopt==0.6.2
docutils==0.12
enum34==1.0.4
future==0.14.3
geogrid==1.0.8
gluapy==0.11.3
ipaddress==1.0.6
ipdb==0.8
ipython==2.3.1
iso8601==0.1.10
jsonschema==2.4.0
lxml==3.4.1
mock==1.0.1
nodeenv==0.13.6
ordereddict==1.1
ply==3.4
pre-commit==0.6.7
py==1.4.30
pycurl==7.19.0.2
pyramid==1.5.2
pyramid-exclog==0.7
pyramid-mako==1.0.2
pyramid-swagger==1.1.0
pyramid-uwsgi-metrics==0.3.1
pyramid-yelp-conn==0.4.0
pysubnettree==0.23
pytest==2.7.3
pytest-ipdb==0.1-prerelease
pytz==2014.9
repoze.lru==0.6
requests==2.6.2
service-configuration-lib==0.10.0
simplejson==3.6.5
six==1.8.0
snowballstemmer==1.2.0
sphinx-rtd-theme==0.1.6
-e git://github.com/Yelp/sqlparse.git@bc262696e7c37b289bb4fb2273d08f0f3ede1835#egg=sqlparse-master
subprocess32==3.2.6
texttable==0.8.1
thriftpy==0.1.15
tornado==2.4.1
translationstring==1.3
treap==1.23.1
uWSGI==2.0.8
uwsgi-metrics==1.1.4
venusian==1.0
virtualenv==1.11.6
websocket-client==0.32.0
wsgiref==0.1.2
yelp-avro==0.1.2
yelp-bytes==0.2.0
yelp-cgeom==1.3.1
yelp-clientlib==2.12.5
yelp-clog==1.4.2
yelp-conn==6.0.0
yelp-email==0.6.1
yelp-encodings==0.1.3
yelp-ips==0.0.5
yelp-lib==9.1.0
yelp-lib-http==0.2.7
yelp-main-internalapi-clientlib==5.9.0
yelp-profiling==2.2.0
yelp-pyramid==0.15.1
yelp-servlib==4.2.2
yelp-uri==1.1.0
zope.deprecation==4.1.1
zope.interface==4.1.1
