MySQL-python==1.2.5
PasteDeploy==1.5.2
PyStaticConfiguration==0.9.0
PyYAML==3.11
SQLAlchemy==0.9.8
WebOb==1.4
colander==0.9.9
future==0.14.3
geogrid==1.0.8
ipaddress==1.0.6
jsonschema==2.4.0
lxml==3.4.1
ply==3.4
pyramid==1.5.1
pyramid-uwsgi-metrics==0.3.1
pyramid-yelp-conn==0.4.0
pysubnettree==0.23
pytz==2014.9
repoze.lru==0.6
requests==2.5.1
simplejson==3.6.5
six==1.8.0
thriftpy==0.1.15
tornado==2.4.1
translationstring==1.3
treap==1.23.1
uWSGI==2.0.8
uwsgi-metrics==1.1.4
venusian==1.0
yelp-cgeom==1.3.1
yelp-clog==1.4.2
yelp-conn==4.6.1
yelp-lib==9.1.0
yelp-pyramid==0.14.0
yelp-servlib==4.0.1
zope.deprecation==4.1.1
zope.interface==4.1.1
