<div class="container">

    <div class="row" style="padding-bottom: 20px;">
        <div class="col-md-9">

            <h4>About</h4>
            <br />
            <h5>What is this tool?</h5>
            <p>A browser for documentation on tables in the <a href="https://trac.yelpcorp.com/wiki/DataWarehouse/Redshift">Redshift Data Warehouse</a> owned by <a href="https://trac.yelpcorp.com/wiki/Teams/BAM">BAM</a>.</p>
            <br/>
            <h5>Where can I ask questions about a table?</h5>
            <p>You can directly email the owner of the table, which is listed under "Table Info".</p>
            <br />
            <h5>What are categories?</h5>
            <p>A category is a way for us to aggregate and filter tables. It's entirely user-generated.</p>
            <br />
            <h5>How are descriptions and notes different?</h5>
            <p>The description on a table is pulled from an engineer's source code and cannot be edited. <br />
            Notes, on the other hand, are user-generated content -- meant to surface gotchas, joins, and other useful knowledge.</p>
            <br />
            <h5>How often is the reference updated?</h5>
            <p>You can check when a specific table was updated by the "Last Updated" column under Table Info.</p>
            <!-- TODO(#DATAPIPE-329): Change the above line to be a dynamically generated date for all tables-->
            <br /><br /><br />
            <p>If you have questions or feedback contact <a href="mailto:bam@yelp.com">bam@yelp.com</a>.</p>
            <br />
        </div>
    </div>
</div>
