<div class="container">

    <!-- Loading bar, so that the UI doesn't look frozen when we're getting a list of tables. -->
    <!-- The loading bar should disappear when the end-point returns. -->
    <div class="row" ng-show="load">
        <div class="col-lg-12">
            <div class="progress">
                <div class="progress-bar progress-bar-striped active" role="progressbar" style="width: 100%"></div>
            </div>
        </div>
    </div>

    <!-- Area to display errors, if there are any, when getting tables -->
    <div class="row" ng-show="error">
        <div class="col-lg-12">
            <div class="alert alert-danger" role="alert">Tables failed to load</div>
        </div>
    </div>

    <div class="row" ng-hide="load || error">
        <div class="row" style="padding-top: 20px">
            <!-- Select filters for tables -->
            <div class="col-md-3">
                <form>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <legend>Filter Tables</legend>
                            <div class="form-group">
                                <label>Schema</label>
                                <select class="form-control" ng-model="schemaFilter" ng-change="newSchema()">
                                    <option ng-repeat="schema in schemas">{{schema}}</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Category</label>
                                <select class="form-control" ng-model="categoryFilter">
                                    <option>{{ALL_CATEGORIES}}</option>
                                    <option ng-repeat="category in categories">{{category}}</option>
                                    <option>{{UNCATEGORIZED}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!-- Display list of tables -->
            <div class="col-md-9">
                <div ng-show="categoryFilter == ALL_CATEGORIES">
                    <div ng-repeat="category in categories" ng-show="filtered[category].length > 0">
                        <h5>{{category}} - {{filtered[category].length}} tables</h5>
                        <table class="table table-hover">
                            <tr ng-repeat="table in filtered[category] = (tables | filter: table.category = category | orderBy: 'source')">
                                <td colspan="4">
                                    <a ng-href="#/table?schema={{schemaFilter}}&table={{table.source}}">{{table.source}}</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div ng-show="filtered[UNCATEGORIZED].length > 0">
                        <h5>{{UNCATEGORIZED}} - {{filtered[UNCATEGORIZED].length}} tables</h5>
                            <table class="table table-hover">
                                <tr ng-repeat="table in filtered[UNCATEGORIZED] = (tables | filter: table.category = category | orderBy: 'source')">
                                    <td colspan="4">
                                        <a ng-href="#/table?schema={{schemaFilter}}&table={{table.source}}">{{table.source}}</a>
                                    </td>
                                </tr>
                            </table>
                        </h5>
                    </div>
                </div>
                <div ng-hide="categoryFilter == ALL_CATEGORIES">
                    <h5>{{categoryFilter}} - {{filtered[categoryFilter].length}} tables</h5>
                    <table class="table table-hover">
                        <tr ng-repeat="table in filtered[categoryFilter] = (tables | filter: tableFilter | orderBy: 'source')">
                            <td colspan="4">
                                <a ng-href="#/table?schema={{schemaFilter}}&table={{table.source}}">{{table.source}}</a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
