
<div class="container">

    <!-- Loading bar, so that the UI doesn't look frozen when we're getting a list of schemas. -->
    <!-- The loading bar should disappear when the schema end-point returns. -->
    <div class="row" ng-show="load">
        <div class="col-lg-12">
            <div class="progress">
                <div class="progress-bar progress-bar-striped active" role="progressbar" style="width: 100%"></div>
            </div>
        </div>
    </div>

    <!-- Area to display errors, if there are any, when getting a list of schemas -->
    <div class="row" ng-show="tableError">
        <div class="col-lg-12">
            <div class="alert alert-danger" role="alert">Table failed to load</div>
        </div>
    </div>

    <div class="row" ng-hide="load || tableError">
        <div class="col-md-12">
            <h3><a ng-href="#/table?id={{tableData.source_id}}">{{tableData.source}}</a></h3>
            <br />
            <h5>Table Info</h5>
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-2">Owner</div>
                        <div class="col-md-4"><a ng-href="mailto:{{tableData.source_owner_email}}">{{tableData.source_owner_email}}</a></div>
                        <!-- TODO: Categories currently hardcoded and not saved. Update after DATAPIPE-243. -->
                        <div class="col-md-2">Category</div>
                        <div class="col-md-4">
                            <select id="category-select">
                                <option value="Business Info">Business Info</option>
                                <option value="Content">Content</option>
                                <option value="Deals">Deals</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">Description</div>
                        <!-- TODO: update using actual description -->
                        <div class="col-md-4">This is a hardcoded description.</div>
                        <div class="col-md-2">Last Updated</div>
                        <div class="col-md-4">{{tableData.updated_at}}</div>
                    </div>
                    <!-- TODO: Add source as specified by v1 documentation -->
                    <div class="row">
                        <div class="col-md-2">Notes</div>
                        <!-- TODO: Retrieve actual notes. Update after DATAPIPE-227. -->
                        <div class="col-md-10">This is a hardcoded note. The table id is {{source_id}}. Latest schema is {{schema_id}}. Extra info: {{tableData}}</div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
        
</div>

        

