<div class="container">

    <!-- Loading bar, so that the UI doesn't look frozen when we're getting the table information. -->
    <!-- The loading bar should disappear when the table info is loaded. -->
    <div class="row" ng-show="load">
        <div class="col-lg-12">
            <div class="progress">
                <div class="progress-bar progress-bar-striped active" role="progressbar" style="width: 100%"></div>
            </div>
        </div>
    </div>

    <!-- Area to display errors, if there are any, when getting table info -->
    <div class="row" ng-show="tableError">
        <div class="col-lg-12">
            <div class="alert alert-danger" role="alert">Table failed to load</div>
        </div>
    </div>

    <div class="row" ng-hide="load || tableError">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li><a href="#/home?schema=public_v1">{{tableData.namespace.name}}</a></li>
                <li class="active"><a href="">{{tableData.source}}</a></li>
            </ol>
            <br />
            <h5>Table Info</h5>
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row padded">
                                <div class="col-md-3"><b>Owner</b></div>
                                <div class="col-md-9"><a href="mailto:{{tableData.source_owner_email}}">{{tableData.source_owner_email}}</a></div>
                            </div>
                            <div class="row">
                                <div class="col-md-3"><b>Description</b></div>
                                <div class="col-md-9">{{tableDescription}}</div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row padded" ng-hide="isEditingCategory">
                                <div class="col-md-3"><b>Category (<a href="" ng-click="editCategory()">Edit</a>)</b></div>
                                <div class="col-md-9" id="category">{{category}}</div>
                            </div>
                            <div class="row padded" ng-show="isEditingCategory && !isCreatingNewCategory">
                                <div class="col-md-3"><b>Category (<a href="" ng-click="saveCategory()">Save</a>)</b></div>
                                <div class="col-md-9">
                                    <select ng-model="category">
                                        <option ng-repeat="cat in categories">{{cat}}</option>
                                        <option>{{UNCATEGORIZED}}</option>
                                    </select>
                                    <a class="pull-right" href="" ng-click="newCategory()">Create New Category</a>
                                </div>
                            </div>
                            <div class="row padded" ng-show="isCreatingNewCategory">
                                <div class="col-md-3"><b>Category (<a href="" ng-click="saveCategory()">Save</a>)</b></div>
                                <div class="col-md-9">
                                    <form ng-model="category">
                                        <input ng-model="category">
                                    </form>
                                </div>
                            </div>
                            <div class="row padded">
                                <div class="col-md-3"><b>Last Updated</b></div>
                                <div class="col-md-9">{{tableData.updated_at}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-9">
                            <div class="row">
                                <div class="col-md-2"><b>Notes (<a href="" ng-click="editTableNote()">Edit</a>)</b></div>
                                <div class="col-md-10" id="table_notes" ng-hide="isEditingTableNote">
                                    <p id="table_notes_content" title="Last edited by {{tableNote.last_updated_by}}">{{tableNote.note}}</p>
                                </div>
                                <div class="col-md-10" ng-show="isEditingTableNote">
                                    <textarea id="table_notes_form" class="form-control" rows=4 ng-model="tableNoteEdit"></textarea>
                                    <a class="btn btn-default" ng-click="saveTableNote()">Save</a>
                                    <a class="btn btn-default" ng-click="cancelTableNote()">Cancel</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <h5>Columns - {{schemaElements.length}} Total</h5>
            <table class="table table-striped table-bordered">
                <th class="col-md-2">Name</th>
                <th class="col-md-2">Type</th>
                <th class="col-md-4">Description</th>
                <th class="col-md-4">Notes</th>
                <tr ng-repeat="field in schemaElements | filter: fieldFilter">
                    <td>{{field.name}}</td>
                    <td>{{field.type}}</td>
                    <td>{{field.doc}}</td>
                    <td id="comment_note" class="comment_note-cell">
                        <p title="Last updated by {{field.note.last_updated_by}}" ng-hide="columnNoteEdit[field.id].isEditing">
                            {{columnNoteEdit[field.id].note.note}}
                            <span class="pull-right"><a href="" ng-click="editColumnNote(field.id)">Edit</a></span>
                        </p>
                        <div ng-show="columnNoteEdit[field.id].isEditing">
                            <textarea class="form-control input-sm" ng-model="columnNoteEdit[field.id].edit"></textarea>
                            <a class="btn btn-default btn-sm" ng-click="saveColumnNote(field.id)">Save</a>
                            <a class="btn btn-default btn-sm" ng-click="cancelColumnNote(field.id)">Cancel</a>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
