.selectize-dropdown-content {
        max-height: 400px;
}
.glyphicon {
    cursor: hand;
    cursor: pointer;
}
.table>tbody+tbody {
    border-top: none;
}
.navbar-default a:hover {
    text-decoration: none;
}
.navbar-brand a {
    color: #c14200;
    font-weight: 500;
    font-size: 20px;
}

h3 a:hover {
    text-decoration: none;
    color: black;
}
h3 a {
    color: #222;
}

b {
    font-weight: 500;
}
.padded {
    padding-bottom: 10px;
}
.breadcrumb {
    background-color: white;

    margin-left: 0;
    padding-left: 0;
    padding-bottom: 0;
    margin-bottom: 10;
}
.breadcrumb a {
    font-weight: 500;
    font-size: 20px;
    color: #333;
}
.breadcrumb a:hover {
    text-decoration: none;
}
table {
    font-size: 13px;
}

/* yelp */
h1, .h1, h2, .h2, h3, .h3, h4,
.h4 {
    margin-bottom: 6px;
    word-wrap: break-word;
    word-break: break-word;
    overflow-wrap: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto
}

h3, .h3 {
    font-size: 16px;
    color: #c14200;
    line-height: 1.3125em
}

.comment-note-cell p {
    display: inline;
}

legend {
    border-bottom: none;
    font-size: 16px;
    font-weight: 500;
}

.preserve-white-space {
    white-space: pre;
}
